package main 

templ Page(body templ.Component) {
	<!DOCTYPE html>
	<html lang="en" data-theme="dark">
		<head>
			<meta charset="utf-8"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<title>byvko.dev - Legal</title>
		</head>
		<body class="max-w-7xl p-8">
			@body
		</body>
	</html>
}
